:root {
  --roundness: 7.5%;
  --font-color: rgb(0, 0, 0);
  --background-color: rgb(255, 255, 255);
  --link-color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: 'PoiretOne';
  src: url('/public/fonts/PoiretOne.ttf');
  font-style: normal;
}

body {
  font-family: 'PoiretOne';
  overflow-x: hidden;
  background-color: black;
  background-color: var(--background-color);
  color: var(--font-color);
}

.long-text{
  color: black;
  color: var(--link-color);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
  color: var(--link-color);
}
