a:visited {
    color: var(--link-color);
  }

.NavMenu{
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  /* margin: auto; */
}

.NavbarItems {
  display: flex;
  /* grid-template-columns: repeat(7.5%, 7); */
  grid-gap: 15%;
  text-align: center;
  width: 70%;
  align-items: center;
  list-style: none;
  /* margin-block-start: 15px;
  margin-block-end: 15px;
  margin-inline-start: -20px;
  margin-inline-end: 15px; */
}
