.NavbarItems {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
font-size: 1.075rem;
}

a:visited {
    color: var(--link-color);
  }

.NavMenu{
    display: flex;
    grid-template-columns: repeat(8, auto);
    grid-gap: 9.375%;
    list-style: none;
    text-align: center;
    width: 75%;
    align-items: center;
}
