.NavbarItems {
height: 80px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
}

a:visited {
    color: var(--link-color);
  }

.NavMenu{
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 150px;
    list-style: none;
    text-align: center;
    width: 70pvw;
    justify-content: end;
    margin-right: 2rem;
}

.mmText1{
    color: var(--link-color);
    display: block;
    align-items: center;
    Justify-Content: center;
    text-align: center;
    font-size: 60px;
    font-weight: lighter;
}

  
.mmText2{
    color: var(--link-color);
    display: block;
    align-items: center;
    Justify-Content: center;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin-top: -45px;
}
